.ipynb_checkpoints
.idea
__pycache__
*.pyc
*.pyo
*.egg-info/
build/
dist/
.eggs/
.venv/
.env
.DS_Store
*.swp

notebooks-private
outputs

# Coverage
htmlcov/
.coverage
.coverage.*

# Pytest
.pytest_cache/

# Docs
site/
.cache/

# Editors
.vscode/
hydralance/
